In [1]:
import pandas as pd
import numpy as np

In [2]:
# Ścieżka do pliku CSV
sciezka_customer_orders = r'C:\Users\MS\Desktop\D\zadanie domowe Analityk\customer_orders.csv'
sciezka_customers_zip = r'C:\Users\MS\Desktop\D\zadanie domowe Analityk\customers_zip.csv'
sciezka_delivery_zip = r'C:\Users\MS\Desktop\D\zadanie domowe Analityk\delivery_zip.csv'
sciezka_orders = r'C:\Users\MS\Desktop\D\zadanie domowe Analityk\orders.csv'
sciezka_sports = r'C:\Users\MS\Desktop\D\zadanie domowe Analityk\sports.csv'

# Importowanie pliku CSV do data frame'a
customer_orders = pd.read_csv(sciezka_customer_orders)
customers_zip = pd.read_csv(sciezka_customers_zip)
delivery_zip = pd.read_csv(sciezka_delivery_zip)
orders = pd.read_csv(sciezka_orders)
sports = pd.read_csv(sciezka_sports)

In [3]:
customer_orders = customer_orders.iloc[:,-2:]
customer_orders

         customer_id    order_id
0         77461851.0  82168832.0
1         37934116.0  38300086.0
2         39770481.0  70629629.0
3         50298765.0  81244871.0
4         23383753.0  88005542.0
...              ...         ...
4003959   22997615.0  76578060.0
4003960   52840571.0  48208738.0
4003961   52840571.0  11830182.0
4003962   52840571.0  73524810.0
4003963          NaN         NaN

[4003964 rows x 2 columns]

In [4]:
customers_zip = customers_zip.iloc[:,-2:]
customers_zip

         customer_id  zip_cust
0         77461851.0   39435.0
1         37934116.0   92635.0
2         39770481.0   61090.0
3         50298765.0   40516.0
4         23383753.0   85367.0
...              ...       ...
1064030    7614400.0   37754.0
1064031   38064713.0   40550.0
1064032   55151857.0   27493.0
1064033   72477424.0   91501.0
1064034   34343239.0   16103.0

[1064035 rows x 2 columns]

In [5]:
delivery_zip = delivery_zip.iloc[:,-2:]
delivery_zip

         customer_id  zip_del
0         77461851.0  55685.0
1         37934116.0  36236.0
2         39770481.0      NaN
3         50298765.0  78823.0
4         23383753.0  75757.0
...              ...      ...
1701447   22997615.0  18863.0
1701448   22997615.0  22874.0
1701449   52840571.0  56465.0
1701450   52840571.0  56162.0
1701451          NaN      NaN

[1701452 rows x 2 columns]

In [6]:
orders = orders.iloc[:,-2:]
orders

           order_id   value
0        82168832.0  240.29
1        38300086.0  730.12
2        70629629.0  145.04
3        81244871.0  472.24
4        88005542.0  354.54
...             ...     ...
4003977  46861536.0  220.30
4003978  73308696.0  208.33
4003979  80131863.0  628.98
4003980  82066694.0  139.71
4003981  76207670.0  726.36

[4003982 rows x 2 columns]

In [7]:
sports = sports.iloc[:,-2:]
sports

         customer_id        sport
0         77461851.0     p3ywanie
1         37934116.0    myolistwo
2         39770481.0   3ucznictwo
3         50298765.0   nurkowanie
4         23383753.0   3ucznictwo
...              ...          ...
1189742   70183840.0   nurkowanie
1189743   39250750.0  jeYdziectwo
1189744   22997615.0    myolistwo
1189745   52840571.0   nurkowanie
1189746          NaN          NaN

[1189747 rows x 2 columns]

##**Jaki odsetek klientów odbiera swoje zamówienia pod innym kodem pocztowym niż mieszka?**

In [8]:
# Połączenie ramek danych na podstawie customer_id
merged_data = pd.merge(customer_orders, customers_zip, on="customer_id")
merged_data = pd.merge(merged_data, delivery_zip, on="customer_id")

In [9]:
# Obliczenie liczby klientów o różnych kodach pocztowych dostawy i zamieszkania
different_zips = merged_data[merged_data["zip_cust"] != merged_data["zip_del"]]

In [10]:
# Obliczenie odsetka klientów o różnych kodach pocztowych dostawy i zamieszkania
odsetek = (len(different_zips) / len(merged_data)) * 100

In [11]:
print(f"Odsetek klientów odbierających zamówienia pod innym kodem pocztowym niż mieszkają: {odsetek:.2f}%")

Odsetek klientów odbierających zamówienia pod innym kodem pocztowym niż mieszkają: 56.74%

##**Jaki sport jest najbardziej i najmniej popularny wśród klientów?**

In [12]:
# Połączenie ramki danych sports z customer_orders na podstawie customer_id
merged_data = pd.merge(sports, customer_orders, on="customer_id")

In [13]:
# Liczenie liczby wystąpień każdego sportu
popularnosc_sportow = merged_data["sport"].value_counts()

In [14]:
# Najbardziej popularny sport
najbardziej_popularny_sport = popularnosc_sportow.idxmax()
najbardziej_popularna_ilosc = popularnosc_sportow.max()

In [15]:
# Najmniej popularny sport
najmniej_popularny_sport = popularnosc_sportow.idxmin()
najmniej_popularna_ilosc = popularnosc_sportow.min()

In [16]:
print(f"Najbardziej popularny sport to: {najbardziej_popularny_sport} (ilość: {najbardziej_popularna_ilosc} klientów)")
print(f"Najmniej popularny sport to: {najmniej_popularny_sport} (ilość: {najmniej_popularna_ilosc} klientów)")

Najbardziej popularny sport to: p3ywanie (ilość: 1037735 klientów)
Najmniej popularny sport to: myslistwo (ilość: 40983 klientów)

##**Ilu klientów uprawia więcej niż 2 sporty?**

In [17]:
# Liczenie liczby sportów dla każdego klienta
liczba_sportow = sports.groupby('customer_id').size()

In [18]:
# Liczenie liczby klientów, którzy uprawiają więcej niż dwa sporty
wiecej_niz_dwa_sporty = liczba_sportow[liczba_sportow > 2].count()

In [19]:
print(f"Ilu klientów uprawia więcej niż 2 sporty: {wiecej_niz_dwa_sporty}")

Ilu klientów uprawia więcej niż 2 sporty: 5040

##**Jaka jest średnia wartość zamówienia?**

In [20]:
# Obliczenie średniej wartości zamówienia
srednia_wartosc_zamowienia = orders['value'].mean().round(2)

In [21]:
print(f"Średnia wartość zamówienia wynosi: {srednia_wartosc_zamowienia}")

Średnia wartość zamówienia wynosi: 25396.01

##**Jaka jest średnia wartość zamówienia klientów uprawiających jeździectwo?**

In [22]:
# Połączenie ramki danych sports z customer_orders na podstawie customer_id
merged_data = pd.merge(sports, customer_orders, on="customer_id")

In [23]:
# Wybór tylko tych klientów, którzy uprawiają jeździectwo
jezdziectwo = merged_data[merged_data["sport"] == "jeYdziectwo"]

In [24]:
# Połączenie ramki danych jezdziectwo z orders na podstawie order_id
merged_data_2 = pd.merge(jezdziectwo, orders, on="order_id")

In [25]:
# Obliczenie średniej wartości zamówienia dla klientów uprawiających jeździectwo
srednia_wartosc_jezdziectwo = merged_data_2["value"].mean().round(2)

In [26]:
print(f"Średnia wartość zamówienia klientów uprawiających jeździectwo wynosi: {srednia_wartosc_jezdziectwo}")

Średnia wartość zamówienia klientów uprawiających jeździectwo wynosi: 26017.4